body {
    background-color: aquamarine;
    margin: 0;
}
 
header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}
 
header #logo {
    width: 5%;
    height: auto;
}
 
header .navbar {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header .navbar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .navbar .square {
    position: absolute;
    top: 55px;
    margin: 0 auto;
    width: 10px;
    height: 30px;
    background-color: chartreuse;
    transition: transform 500ms ease-in;
    transform-origin: center;
    transform: rotate(45deg) scaleY(0);
}

header .navbar .dropdown-menu {
    position: absolute;
    top: 60px;
    padding: 10px 30px;
    background-color: chartreuse;
    transition: transform 500ms ease-in;
    transform: scaleY(0);
}

header .navbar .dropdown-menu.open_menu {
    transform: scaleY(1);
}

header .navbar .square.open_menu {
    transform: rotate(45deg) scaleY(1);
}

header .navbar .dropdown-menu a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px auto;
}

header ul li {
    list-style-type: none;
}

.slider {
    width: 100%;
    height: 10em;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
    z-index: -5;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
 
main h1 {
    width: 100%;
    text-align: center;
}
 
main p {
    width: 60%;
    margin: 50px auto;
}
 
main .table {
    width: 30%;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}
 
main .table th,
main .table td {
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(160 160 160);
}
 
main .table .students,
main .table .score {
    background-color: lavender;
}
 
.newStudentInput {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
#newStudentName,
#newStudentScore {
    width: 15em;
    margin: 10px;
}

.removeStudent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#removeStudentName {
    width: 15em;
    margin: 10px;
}